{
    "printWidth": 150,
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "semi": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react(.*)$",
        "^@mantine(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^~/pages(.*)",
        "^~/widgets(.*)",
        "^~/features(.*)",
        "^~/entities(.*)",
        "^~/shared(.*)",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}