.root {
    display: grid;
    grid-template: 'title title edit' 'percent sum delete' / 1fr 1fr auto;
    padding: 8px;
    gap: 16px;
    border-radius: 8px;

    @include mantine.dark {
        background-color: var(--mantine-color-dark-8);
    }
    @include mantine.light {
        background-color: var(--mantine-color-light-8);
    }
}

.title {
    grid-area: title;
}

.percent {
    grid-area: percent;
}

.sum {
    grid-area: sum;
    justify-self: end;
}

.delete {
    grid-area: delete;
}

.edit {
    grid-area: edit;
}
