.header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px;
    padding-inline: 16px;
}

.container {
    margin-inline: auto;
    max-width: 60em;
    padding-inline: var(--mantine-spacing-md);
}
