.root {
    margin-block: 16px;
}

.header {
    gap: 8px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.income-input {
    flex: 1;
}

.distribution {
    border: 1px solid var(--mantine-color-dark-4);
    border-radius: var(--mantine-radius-default);
    padding: var(--mantine-spacing-lg);
    padding-top: var(--mantine-spacing-xs);
}

.distribution-header {
    font-size: mantine.rem(24);
    display: grid;
    grid-template:
        'title status' auto
        'toolbar toolbar';
    align-items: end;
    gap: var(--mantine-spacing-sm);
    margin-bottom: var(--mantine-spacing-md);
}

.expenses-title {
    grid-area: title;
    line-height: 1.25;
}

.distribution-status {
    grid-area: status;
    justify-self: end;
}

.distribution-toolbar {
    grid-area: toolbar;
}

.overflow {
    color: var(--mantine-color-red-3);
}

.completed {
    color: var(--mantine-color-teal-3);
}
